* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    background-image: url('/public/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    background-image: url('/public/img-2.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('/public/img-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;
    font-size: 50px;

    display: flex;
    min-height: 90vh;
    justify-content: center;
    font-size: 3rem;


  }
  @media screen and (max-width: 820px) {
    .sign-up {
      height: 120vh;
    }
  }
  @media screen and (max-height: 550px) {
    .sign-up {
      height: 170vh;
    }
  }
  .error-container {
    background-color: rgb(226, 226, 226);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .error-container h1 {
    margin-bottom: 20px;
  }
  .error-container p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgba(251, 17, 17, 0.756);
  }
  .error-wrapper {
    background-color: rgb(253, 107, 107);
    padding: 20px 25px;
    border-radius: 10px;
  }